{% extends 'base.html.twig' %}

{% block title 'Mon Agence Lorem Ipsum' %}

{% block body %}
	<div class="jumbotron text-center">
		<h1>Agence La casa de papier</h1>
		<p>Viande à chien de boswell de cibouleau de torvisse d'étole de saint-ciboire de calvince de marde de saint-cimonaque de cibole de purée de crucifix de Jésus Marie Joseph de cibolac de tabarslaque de cimonaque de saint-ciarge d'astie de mangeux d'marde de maudit de batince de colon de maudite marde de câlique de viarge de calvinouche de ciarge de saint-sacrament de verrat de charrue de calvaire de crime de taboire de ciboire de câline de bine de christie de gériboire de patente à gosse.</p>
	</div>
	<div class="container">
		<h2>Les derniers biens
		</h2>
		<div class="row flex">
			{% for property in properties %}
				<div class="col-3">
					{% include 'property/_property.html.twig' %}
				</div>
			{% endfor %}

		</div>
	</div>

{% endblock %}
