{% extends 'base.html.twig' %}

{% block title 'Gérer les biens' %}

{% block body %}
<div class="container" mt-4>

<h1>Gérer les biens</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        {% for property in properties %}
         <tr>
            <td>{{ property.title }}</td>
            <td></td>
            <a href="{{ path('admin.property.edit', {id: property.id})}}" class="btn btn-secondary">Editer</a>
        </tr>
        {% endfor %} 
    </tbody>
</table>
</div>
        
<div class="text-right">
    <a href="{{ path('admin.property.new') }}" class="btn btn-primary">Créer un nouveau bien</a>
</div>

{% endblock %}
