{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Administration</h1>
    <P class="lead">Bienvenue dans l'interface d'administration de la Casa De Papier <p>
</div>

{% endblock %}