{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {{ form(form) }}
</div>
<p class="text-center">Déja inscrit ? <a href="{{ path('app_login') }}">Se connecter</a></p>
{% endblock %}