{% extends "base.html.twig" %}

{% block title %}Accès interdit{% endblock %}

{% block body %}
    <h1>Accès interdit</h1>
    <p>Vous n'avez pas la permission d'accéder à cette page</p>
    <p>Code de l'erreur : {{ status_code }}</p>
    <p>Message de l'erreur : {{ status_text }}</p>
    <p><a href="{{ path('property.index') }}">Voir les biens</p>
{% endblock %}