{% extends "base.html.twig" %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <h1>Page non trouvée</h1>
    <p>La page d'erreur n'a pas été trouvée</p>
    <p>Code de l'erreur : {{ status_code }}</p>
    <p>Message de l'erreur : {{ status_text }}</p>
    <p><a href="{{ path('property.index') }}">Voir les biens</p>
{% endblock %}